body {
  margin: 0;
  padding: 1em 2em;
  font-family: sans-serif;
  line-height: 1.45;
}

button {
  font-size: 1rem;
  padding: 1em;
  border: none;
  background-color: gold;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: lime;
  }
}
